*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(fundo.png);
    background-size: cover;
    overflow: hidden;
}
.fundo{
   background-repeat: no-repeat;
    
}
.textos{
    padding-top: 30px;
    padding-left: 400px;
    
    gap: 190px;
    align-items: center;
    color: white;
}
#logo1{
position:absolute;
width: 130px;

}

#roxo2{
    position: absolute;
    height: 690px;
    left: 38%;
}
#copos1{
    position: absolute;
    height: 720px;
    left: 590px;
    top: 85px;
}
.tomou{
position: absolute;
width: 52px;
height: 323px;
left: 85px;
top: 290px;

font-family: 'Lemon';
font-style: normal;
font-weight: 600;
font-size: 80px;
color: #FFFF00;
}
.acai{
    position: absolute;
height: 237px;
left: 121px;
top: 500px;
font-family: 'Lemon';
font-style: normal;
font-weight: 400;
font-size: 45px;
color: #FFFFFF;
}
.linha{
 position: absolute;
top: 85px;
}

@media (max-width:1024px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        height: 100vh;
        width: 100%;
        background-image: url(fundo.png);
        background-size: cover;
        overflow: hidden;
    }
    .fundo{
       background-repeat: no-repeat;
        
    }
    .textos{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        left: 800px;
        gap: 35px;
        color: white;
    }
    #logo1{
    position:absolute;
    width: 250px;
    }
    
    #roxo2{
        position: absolute;
        height: 1004px;
        left: 20px;
        top: 200px;
    }
    #copos1{
        position: absolute;
        height: 804px;
        left: 160px;
        top: 295px;
    }
    .tomou{
    position: absolute;
    left: 85px;
    top: 1000px;
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 600;
    font-size: 130px;
    color: #FFFF00;
    }
    .acai{
    position: absolute;
    width: 1136px;
    height: 237px;
    left: 121px;
    top: 1350px;
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    color: #FFFFFF;
    }
    .linha{
     position: absolute;
    top: 85px;
    }
}
