*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(fundo.png);
    background-size: cover;
    overflow: hidden;
}
.fundo{
   background-repeat: no-repeat;
    
}
.textos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 110px;
    gap: 95px;
    color: white;
}
.logo{
position:absolute;

}

.roxo{
    position: absolute;

    height: 734px;
    left: 540px;
    top: 84px;
}
.copos{
    position: absolute;

    height: 734px;
    left: 560px;
    top: 85px;
}
.tomou{
    position: absolute;
width: 52px;
height: 323px;
left: 85px;
top: 180px;

font-family: 'Lemon';
font-style: normal;
font-weight: 600;
font-size: 80px;
color: #FFFF00;
}
.acai{
    position: absolute;
width: 1136px;
height: 237px;
left: 121px;
top: 400px;

font-family: 'Lemon';
font-style: normal;
font-weight: 400;
font-size: 45px;
color: #FFFFFF;
}
.linha{
 position: absolute;
top: 85px;
}

@media (max-width:1024px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        height: 100vh;
        width: 100vw;
        background-image: url(fundo.png);
        background-size: cover;
        overflow: hidden;
    }
    .fundo{
       background-repeat: no-repeat;
        
    }
    .textos{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-left: px;
        gap: 95px;
        color: white;
    }
    .logo{
    position:absolute;
    width: 10px;
    }
    
    .roxo{
        position: absolute;
    
        height: 734px;
        left: 540px;
        top: 84px;
    }
    .copos{
        position: absolute;
    
        height: 734px;
        left: 560px;
        top: 85px;
    }
    .tomou{
        position: absolute;
    width: 52px;
    height: 323px;
    left: 85px;
    top: 180px;
    
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    color: #FFFF00;
    }
    .acai{
        position: absolute;
    width: 1136px;
    height: 237px;
    left: 121px;
    top: 400px;
    
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    color: #FFFFFF;
    }
    .linha{
     position: absolute;
    top: 85px;
    }
}